[pager]
     difftool = true

[core]
    quotepath = false
    editor = nvim

# https://www.lazy-electron.com/2021/07/29/git-aliases.html
[alias]
    amend = commit --amend --reuse-message=HEAD
    glg = log --oneline --decorate --all --graph
    ; https://www.jessesquires.com/blog/2021/10/24/git-aliases-to-improve-productivity/
    aliases = "!f() { git config --global -l | grep alias | sort; }; f"
    st = status
    smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
    ls = log --oneline
    authors-list = shortlog -e -s -n
    pr = pull --rebase origin master
    ps = push
    st = status
    co = checkout
    cb = checkout -b
    br = branch
    cm = commit -s -m
    ca = commit --amend -s --no-edit
    d = diff
    ds = diff --staged
    dc = diff --cached


[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.config/git/config-github

[includeIf "hasconfig:remote.*.url:git@codeberg.org:*/**"]
    path = ~/.config/git/config-codeberg

[net]
    git-fetch-with-cli = true

[diff]
    external = difft
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft --byte-limit 100000 --graph-limit 10000 --display side-by-side "$LOCAL" "$REMOTE"
